:root {
  --darkgrey: #303030;
  --background: #e6f3ff;
  --lightblue: #cce6ff;
  --fontcolor:#333333;
}

html {
  font-size: 100%;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: var(--fontcolor);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--fontcolor);
}

li {
  list-style: none;
}

.title {
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 20px;
}

/* header
---------------------------------------------------- */
#header {
  background-color: var(--background);
  box-shadow: 0 5px 5px 4px var(--var(--lightblue));
  font-size: 10px;
  padding: 20px;
  align-items: center;
  display: flex;
}

.header-name {
  display: inline-block;
  margin-right: auto;
  margin-left: 30px;
  align-items: center;
  font-size: 20px;
}

#header ul {
  display: flex;
  padding: 10px 0;
}

#header li {
  font-size: 0.9rem;
  margin-left: 30px;
  text-decoration: underline;
}

#header li a:hover {
  opacity: 0.7;
}

/* mainPic
---------------------------------------------------- */
.mainPic {
  position: relative;
  margin-top: 2px;
}

.mainPic .picContent {
  position: absolute; 
  bottom: 0;
  background: #000000;
  background: rgba(0, 0, 0, 0.7); 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #f1f1f1;
  width: 100%; 
}

.mainPic h2 {
  padding-left: 20px;
}

/* aboutMe
---------------------------------------------------- */
.aboutSection {
  background-color: #f2f2f2;
}
.profile {
  display: flex;
  justify-content: center;  
}

.profile-img {
  width: 20%;
  margin-right: 10px;
  border-radius: 50%;
}

.profile-img img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
 
}

.profile p {
  line-height: 1.8;
  padding-bottom: 10px;
}

/* work
---------------------------------------------------- */

.workSection .title{
  margin-bottom: 30px;
}
.workList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work-img {
  text-align: center;
}
.work-img img {
  width: 600px;
  height: 400px;
  border:2px solid #303030;
}

.work-img img:hover {
  -ms-transform: scale(1.12); /* IE 9 */
  -webkit-transform: scale(1.12); /* Safari 3-8 */
  transform: scale(1.12); 
  cursor: pointer;
}

.work-img2 img {
  width: 400px;
  height: 300px;
  border:2px solid #303030;
}

.workName {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.workInfo {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.work-img:hover {
  opacity: 0.7;
}


/* contacrtMe
---------------------------------------------------- */
.contactSection {
  background-color: #f2f2f2;
}

.contactList ul{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 10px;
  text-decoration: underline;
}

.contactList li a {
  color: var(--fontcolor);
}

/* footer
---------------------------------------------------- */
#footer {
  padding: 30px;
  margin-top: 0;
  background-color: var(--background);
  box-shadow: 0 5px 5px 4px var(--lightblue);
}

.copyright {
  font-size: 10px;
  text-align: center;
}